body {
    overflow-x: hidden;
    margin: 0;
}

main {
    background-color: #ededed;
    width: 100.1vw;
    font-family: monospace;
    position: relative;
    min-height: 100vh;
}

#form {
    height: 40vh;
    width: 50vw;
    background-color: #fff;
    top: 30vh;
    left: 25vw;
    position: relative;
    border: solid #ae00ff 2px;
    border-radius: 20px;
}
#form h1 {
    text-align: center;
    margin-top: 2vh;
    font-size: 30px;
    max-width: 80%;
    position: relative;
    left: 10%;
}
#form .input {
    width: 50%;
    height: 15%;
    left: 25%;
    position: relative;
    border: solid #ae00ff 2px;
    border-radius: 20px;
    margin-top: 2%;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
    color: #757575;
}
#form #login-btn {
    width: 50%;
    height: 15%;
    left: 25%;
    position: relative;
    border-radius: 30px;
    margin-top: 5vh;
    text-align: center;
    background-color: #ae00ff;
    border: 0px;
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
}

#nav-menu {
    width: 15vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ae00ff;
}
#nav-menu .nav-btn {
    width: 10vw;
    left: 2.5vw;
    height: 7vh;
    margin-top: 2vw;
    background-color: #ae00ff;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    position: relative;
    border: solid transparent 0px;
}
#nav-menu .nav-btn:hover {
    background-color: #ea00ff;
    transition-duration: 0.2s;
    box-shadow: 0 0 2vw #ea00ff;
}

#page-header {
    text-align: center;
    top: 7vh;
    font-size: 50px;
    font-weight: 800;
    position: relative;
    left: 10vw;
    width: 90vw;
}

.subheader {
    top: 1vh;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.action-form {
    top: 7vh;
    margin-top: 3vh;
    width: 75vw;
    left: 20vw;
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
}

.list-select {
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
    width: 35%;
    height: 4vh;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    left: 10%;
}
.list-select-centered {
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
    width: 35%;
    height: 4vh;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
    display: block;
}

.txt-input {
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
    width: 35%;
    height: 4vh;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    right: 10%;
    float: right;
    display: block;
}
.txt-input-centered {
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
    width: 35%;
    height: 4vh;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
    display: block;
}

.big-txt-input {
    border: solid #4d4d4d 1px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    height: 20vh;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 1px;
    word-break: break-all;
    margin: auto;
    margin-top: 2vh;
    display: block;
    resize: none;
}

.send-action {
    width: 30%;
    height: 7%;
    position: relative;
    border-radius: 30px;
    margin-top: 3vh;
    text-align: center;
    background-color: #ae00ff;
    border: 0px;
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.send-action:hover {
    cursor: pointer;
    background-color: #c342ff;
    transition-duration: 0.2s;
}

button:hover {
    cursor: pointer;
}

#username {
    top: 5vh;
    float: left;
    left: 30vw;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

#leave-btn {
    background-color: #a10000;
    border: solid transparent 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    float: right;
    border-radius: 20px;
    width: 20vw;
    height: 7vh;
    top: 6vh;
    right: 20vw;
}

#leave-btn:hover {
    background-color: #c40000;
    transition-duration: 0.2s;
}