.s-link {
    text-decoration: none;
    color: #000;
}

.link-card {
    border-radius: 20px;
    width: 65vw;
    min-height: 30vh;
    background-color: #e5e5e5;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 17.5vw;
    display: inline-block;
}

.link-card img {
    margin-top: 4vw;
    width: auto;
    height: 18vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.link-card h2 {
    font-family: monospace;
    font-weight: 600;
    margin-top: 4vw;
    font-size: 60px;
    text-align: center;
}
.link-card h3 {
    font-family: monospace;
    font-weight: 500;
    text-align: center;
    font-size: 2vh;
    margin-top: -2vw;
    max-width: 80%;
    margin-left: 10%;
}